@{ 
  Layout = "_Layout";
}

@model PestFinder.Models.Location


  @using (Html.BeginForm())
  {
    <div class="row align-items-stretch">
    <div class="col-2">
      <p>@Html.Label("Location Name")</p>
      <p>@Html.Label("Pest Rating")</p>
      <p>@Html.Label("Action Plan")</p>
    </div>

    <div class="col-3">
      <p>@Html.TextBoxFor(model => model.Name)</p>
      <p>@Html.TextBoxFor(model => model.PestRating)</p>
      <p>@Html.TextBoxFor(model => model.ActionPlan)</p>
    </div>
    </div>

    <button type="submit">Create Location</button>
  }
