@{
  Layout = "_Layout";
}

@using PestFinder.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using(Html.BeginForm("Register", "Account", FormMethod.Post))
{
  <div class="row align-items-center">
  <div class="col-3">
  <p>@Html.LabelFor(user => user.Email)</p>
  <p>@Html.LabelFor(user => user.Password)</p>
  <p>@Html.LabelFor(user => user.ConfirmPassword)</p>
  </div>

  <div class="col-6">
  <p>@Html.TextBoxFor(user => user.Email)</p>
  <p>@Html.PasswordFor(user => user.Password)</p>
  <p>@Html.PasswordFor(user => user.ConfirmPassword)</p>
  </div>
  </div>

  <button type='submit'>Register</button>
}